body {
  margin: 0;
  background-color: rgb(219, 215, 215);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Container{
  width: 100%;
  text-align: center;
}
.detail, .attributes{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border-radius: 5px;
  justify-content: space-between;
  /* border: 1px solid grey; */
  background-color: white;

}
.field{
  border: 1px solid grey;  display: flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  justify-content: space-between
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){background-color: #f2f2f2}

th {
  background: #666666;
  color: white;
}

.single{
  text-align: center;
  width:60%;
}
.single span{
  display: flex;
  justify-content: space-between;
}
button {
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  min-width: 150px;
  background: none;
  border: none;
  cursor: pointer;
  background: gray;
  color: white;
  font-size: 16px;
  font-family: "Bold";
}
button:hover{
  background-color: black;
}
.btn-disable {
  background: #828282;
  color: white;
  cursor: not-allowed;
}

.btn-enable {
  background: red;
  color: white;
  cursor: pointer;
}

.btn-cancel {
  background: none;
  color: black;
}
.search{
  display: flex;
  margin: 5px auto;
  width: 50%;
}
.search input{
  width: 100%;
  border-radius: 5px;
  border: none;
  background: #ededed;
  padding: 10px;
  font-size: 16px;
  color: #828282;
  box-sizing: border-box;
}
.search-btn{
  margin: 0 !important;
  padding: 0 !important;
}
.btn{
  width: 60%;
  justify-content: space-around;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 600px){
table{
  width: 100%;
  font-size: 10px;
  margin: 0 auto;
}
tr{
  width: 80%;

}
}